@use 'styles/variables';

.container {
  margin: auto;

  h2 {
    margin-top: 24px;
    color: white;
    font-size: 2.25em;
    text-shadow: -2px 2px 0 variables.$dark;
  }

  * {
    margin-right: auto;
    margin-left: auto;
  }
}
