@use 'styles/variables';
@use 'sass:color';

.container {
  display: flex;
  align-items: center;
  isolation: isolate;

  label {
    font-weight: 600;
  }

  &.second-input {
    margin-top: 6px;
  }
}

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin-left: 12px;
  padding: 6px 10px;
  border: 2px solid variables.$dark;
  border-radius: 6px;
  background-color: white;
  outline-color: transparent;
  transition: box-shadow 100ms ease-in-out;

  &::after {
    content: '';
    position: absolute;
    inset: 0 0 -4px -4px;
    z-index: -1;
    border-radius: 6px;
    background-color: variables.$dark;
    transition: translate 200ms ease-in-out;
  }

  &:focus-within {
    border-color: variables.$primary;

    &::after {
      translate: -2px 2px;
    }
  }

  input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    font-size: calc(1em - 2px);
  }

  img {
    height: 100%;
  }

  & > img {
    margin-left: 6px;
    cursor: pointer;
  }

  a {
    height: 27px;
    margin: -4px -4px -4px 6px;
    padding: 4px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 100ms ease-in-out;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: color.adjust(variables.$dark, $lightness: 70);
      outline-style: solid;
      outline-color: transparent;
    }

    img {
      width: 19px;
    }
  }
}
