@use 'sass:color';
@use 'src/styles/variables';

html,
body,
#__next,
.next-root {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(
      45deg,
      variables.$primary calc(35% / 3),
      color.adjust(variables.$primary, $hue: 20) calc(80% / 3),
      color.adjust(variables.$primary, $hue: 30) calc(100% / 3),
      color.adjust(variables.$primary, $hue: 20) calc(150% / 3),
      variables.$primary calc(200% / 3),
      variables.$primary calc(235% / 3),
      color.adjust(variables.$primary, $hue: 20) calc(280% / 3),
      color.adjust(variables.$primary, $hue: 30) calc(300% / 3)
    )
    0 100%;
  background-size: 300% 300%;
  font-size: 18px;
  animation: gradient 30s linear forwards infinite;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-right: 8px;
  padding-left: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
