@use 'src/styles/variables';
@use 'sass:color';

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  .container.second-button {
    margin-left: 18px;
  }

  button {
    flex-grow: 1;
  }
}

.container {
  width: 100%;
  isolation: isolate;

  button {
    position: relative;
    width: 100%;
    padding: 4px 8px;
    border: 1px solid variables.$dark;
    border-radius: 6px;
    background: linear-gradient(
        90deg,
        variables.$primary,
        variables.$primary 25%,
        color.adjust(variables.$primary, $lightness: -20) 75%,
        color.adjust(variables.$primary, $lightness: -20)
      )
      0 0;
    background-size: 400% 100%;
    color: white;
    outline-style: solid;
    outline-color: transparent;
    font-size: 1em;
    cursor: pointer;
    transition: background-position 400ms ease-in-out;

    &::after {
      content: '';
      position: absolute;
      inset: 0 0 -4px -4px;
      z-index: -1;
      border-radius: 6px;
      background-color: variables.$dark;
      transition: translate 200ms ease-in-out;
    }

    &[disabled] {
      cursor: unset;
    }

    &:hover,
    &:focus,
    &:focus-visible {
      background-position: 100% 0;

      &::after {
        translate: -2px 2px;
      }
    }
  }
}

@media (max-width: 450px) {
  .button-row {
    flex-direction: column;

    .container.second-button {
      margin-top: 10px;
      margin-left: 0;
    }
  }
}
