.colorSelectorButton
  height: 40px
  aspect-ratio: 1/1
  border-radius: 100%
  border: 2px solid black
  margin: 5px
  cursor: pointer

  &[data-selcted=true]
    height: 50px
    margin: 0

  &.noSelect
    cursor: default !important
